<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087215607248-h1sid5mlt7ht2ekqhd46a8vdjckdi8q6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087215607248-h1sid5mlt7ht2ekqhd46a8vdjckdi8q6</string>
	<key>API_KEY</key>
	<string>AIzaSyA7GHIExpV79c65TkD6YaEDz0lrxCbralY</string>
	<key>GCM_SENDER_ID</key>
	<string>1087215607248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notWhatsapp</string>
	<key>PROJECT_ID</key>
	<string>notwhatsapp-b9525</string>
	<key>STORAGE_BUCKET</key>
	<string>notwhatsapp-b9525.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087215607248:ios:e7f821779a5e727c09add5</string>
</dict>
</plist>